onlyBuiltDependencies[]=@nestjs/core
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=prisma
ignore-scripts=false
